# Day 11
## Q1)

In [6]:
b=" * "
for i in range(0,6):
    print((b*i).center(20))

         *
        *  *
      *  *  *
     *  *  *  *
   *  *  *  *  *

## Q2)

In [11]:
row  = 5
for i in range(1, row+1):
    for j in range(row-i):
        print("  ", end="")
    for k in range(1, i+1):
        print(str(k).center(5),end="")
    print()

          1
        1    2
      1    2    3
    1    2    3    4
  1    2    3    4    5

## Q3)

In [15]:
b="*"
for i in range(1,6):
    print((b*i).rjust(5))

    *
   **
  ***
 ****
*****

In [16]:
row  = 5
for i in range(1, row+1):
    for j in range(row-i):
        print(" ", end="")
    for k in range(1, 2*i):
        print(k, end="")
    print()

    1
   123
  12345
 1234567
123456789

In [26]:
n=int(input("Enter the number of rows:"))
for i in range(1,n+1):
    for j in range(1, i+1):
        print(j, end="")
    print()

Enter the number of rows:5
1
12
123
1234
12345

In [38]:
n = 5
print(" "*4,"*")
for i in range(1, n+1):
    for j in range(n - i):
        print(' ', end='')
    for k in range(2 * i +1):    
        print('*', end="")
    print()

     *
    ***
   *****
  *******
 *********
***********

In [48]:
for i in range(1, 6):
    for j in range(5, i, -1):
        print(" ", end="")
    for k in range(1,2*i):
        print(i,end="")
    print("")

    1
   222
  33333
 4444444
555555555

In [49]:
row = 5
for i in range(1, row+1):
    for j in range(1, row-i+1):
        print(" ", end="")
    for j in range(1, 2*i):
        print("*", end="")
    print() 
    
for i in range(row-1,0, -1):
    for j in range(1,row-i+1):
        print(" ", end="")
    for j in range(1, 2*i):
        print("*", end="")
    print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [51]:
rows=5
for i in range(rows, 0, -1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1